.imgs{
  width: 175px;
  height: 200px;
  margin-top:15px;
  margin-left: 15px;
  border: 2px solid rgb(255, 255, 255);
}
.display{
   display: flex;
   flex-wrap: wrap;
 justify-content: center;
}
.heading_style{
  font-size: 35px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 2px; 
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline;
}
.cont{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    justify-content: center;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
  border-radius: 10px;
  padding: 0px 10px;
    
}
.btn-group_item {
  border: 1.2px solid rgb(255, 255, 255);
  border-radius: 15px; 
  margin-left: 6px;
  padding: 5px 23px; 
  background-color: white;
  color: rgb(255, 255, 255);
}
.btn-group_item:hover {
  background: rgb(17, 154, 164);
  color: rgb(222, 222, 222);
  font-weight: bolder;
}


*{
  background-image: url("./images/bg.jpg") ;
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}

.card12 {
  border: 2px solid rgb(255, 255, 255);
}
